/* only necessary if doc contains unicode chars */
/* stylesheet information for kaplan-tool
File created date: 11.02.2015
Last modified date: 11.02.2015
By: Max Norton maxbnorton@csus.edu
*/
/* Table of Contents
FONT AND COLOR PALETTE
RESETS AND OVERRIDES
LINKS AND TYPE
MAIN LAYOUT
$logo
$top-nav
$nav-bar
$etc
SECONDARY LAYOUT
$etc
FORM ELEMENTS
MISCELLANEOUS
*/
/* FONT AND COLOR PALETTE: 
------------------------------ */
/* RESETS AND OVERRIDES
------------------------------ */
/*@import ();*/
/* LINKS AND TYPE
------------------------------ */
/* MAIN LAYOUT
------------------------------ */
header {
  background-color: white;
  border-bottom: 1px solid #bbb;
  padding: 0 5%;
  position: fixed;
  top: 0;
  width: 90%; }

.content-wrap {
  padding-top: 100px; }

fieldset, .results {
  display: block;
  margin: 1em auto;
  max-width: 90%; }
  fieldset img, .results img {
    max-width: 100%; }

/* $logo */
x.class-with-hyphens-separating-words {
  property: rule;
  x-property: disabled;
  property: testing;
  /* alphabetize properties, comment when necessary */ }
  x.class-with-hyphens-separating-words .sub-selector {
    property: rule; }

/* SECONDARY LAYOUT
------------------------------ */
table {
  border-spacing: 0; }
  table td {
    height: 1.5em; }
  table tr:first-of-type {
    font-weight: bold; }
  table tr:nth-of-type(even) {
    background-color: #eee; }

/* FORM ELEMENTS
------------------------------ */
x-input,
x-select {
  display: block; }

/* MISCELLANEOUS
------------------------------ */
